*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-red: #e3646e;
    --color-purple: #bb72e9;
    --color-blue: #3996db;
    --color-green: #82bc4f;
    --color-yellow: #eabd5f;

    --color-gray-100: #0d0e11;
    --color-gray-200: #16181d;
    --color-gray-300: #292c34;
    --color-gray-400: #878ea1;
    --color-gray-500: #c0c4ce;
    --color-gray-600: #e2e4e9;
    /*Asap font*/
    --font-family-asap: 'Asap', sans-serif;
    --h1-title-lg: bold 3.5rem/1.2 var(--font-family-asap);
    --h2-title-md: bold .8rem/1.2 var(--font-family-asap);
    --h3-title-sm: bold 1rem/1.2 var(--font-family-asap);
    /*Inconsolata*/
    --font-family-inconsolata: 'Inconsolata', sans-serif;
    --h2-subitle: normal 2.2rem/1.2 var(--font-family-inconsolata);
    /*Maven Pro*/
    --font-family-default: 'Maven Pro', sans-serif;
    --text-md: normal 1rem/140% var(--font-family-default);
    --text-sm: normal .8rem/140% var(--font-family-default);
}

body{ 
    font-family: var(--font-family-default);
    background-color: var(--color-gray-200);
    color:var(--color-gray-500)
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}