main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-main{
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}

.intro-main h2 {
    font: var(--h2-subitle);
    color: var(--color-red);
}

.intro-main p {
    font: var(--h1-title-lg);
    color: var(--color-gray-600);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
    margin: 72px 120px 144px 120px;
    width: 1050px;
    gap: 24px;
}

.card-color{
    width: 330px;
    background-color: var(--color-gray-300);
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
}

.cards figure img{
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

figcaption{
    width: 300px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 88px 120px 120px 120px;
}

.header-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 56px;
}

.header-services h2 {
    font: var(--h2-subitle);
    color: var(--color-red);
}

.header-services p {
    font: var(--h1-title-lg)
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.service-item {
    display: flex;
    width: 280px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}